{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row profile-text">
    <div class="col-12 col-md-4 text-center">
      {% if profiles.profile_image %}
      <img src="{{ profiles.profile_image.url }}" width="75%" alt="{{ profiles.title }}">
      {% else %}
      <img src="{% static 'images/nobody.jpg' %}" width="75%" alt="placeholder image">
      {% endif %}
    </div>
    <div class="col-12 col-md-8">
      <h2>{{ profiles.title }}</h2>
      {{ profiles.content | safe }}
    </div>
    <button type="button" class="btn btn-primary" id="update-btn">Update</button>
  </div>
  <div class="row mt-5 profile-form">
    <div class="col">
      <h3>Update your Profile</h3>
      <form method="post" enctype="multipart/form-data" aria-label="Update your Profile" id="profileForm">
        {% csrf_token %}
        {{ profile_form.media }}
        {{ profile_form | crispy }}
        <button type="submit" class="btn btn-primary" id="save-btn">Save</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col text-right">
      <p class="text-end"><em>Updated on: {{ profiles.updated_on }}</em></p>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col">
      <h3>Scribble a New Journal Entry</h3>
      <form method="post" enctype="multipart/form-data" aria-label="Create Journal Entry" id="postForm">
        {% csrf_token %}
        {{ post_form.media }}
        {{ post_form | crispy }}
        <button type="submit" class="btn btn-primary" id="post-btn">Post</button>
      </form>
    </div>
  </div>
</div>


{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/profile.js"></script>
{% endblock %}

{% endblock content %}
