{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
  <div class="row profile-text">
    <div class="col-12 col-md-4 text-center">
        {% if profiles.profile_image %}
            <img src="{{ profiles.profile_image.url }}" width="300" alt="{{ profiles.title }}">
        {% else %}
            <img src="{% static 'images/nobody.jpg' %}" width="300" alt="placeholder image">
        {% endif %}
    </div>
    <div class="col-12 col-md-8" id="profile-content">
        <h2>{{ profiles.title }}</h2>
        <p>{{ profiles.content }}</p>
        <button type="button" class="btn btn-primary" id="update-btn">Edit Profile</button>
    </div>
</div>

  <div class="row mt-5 profile-form">
    <div class="col">
      <h3>Update your Profile</h3>
      <form method="post" enctype="multipart/form-data" aria-label="Update your Profile" id="profileForm">
        {% csrf_token %}
        {{ profile_form.media }}
        {{ profile_form | crispy }}
        <button type="submit" class="btn btn-primary" id="save-btn">Save</button>
      </form>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col">
      <h3>Scribble a New Journal Entry</h3>
        <div class="col text-right">
          <p class="text-end"><em>Last journal entry: {{ profiles.updated_on }}</em></p>
        </div>
      </div>
      <form method="post" enctype="multipart/form-data" aria-label="Create Journal Entry" id="postForm">
        {% csrf_token %}
        {{ post_form.media }}
        {{ post_form | crispy }}
        <button type="submit" class="btn btn-primary" id="post-btn">Post</button>
      </form>
       </div>
       <br>
       <br>
  </div>

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="/static/js/profile.js"></script>
{% endblock %}

{% endblock content %}
