/* --Main -- */

body {
    background-color: #F9FAFC;
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.btn {
    background-color: #364F2D;
    color: #fafafa;
    max-width: fit-content;
}

.btn:hover,
.btn:active,
.btn:active:hover {
    background-color: #4B653E;
    color: #fafafa;
}

.link {
    color: #364F2D;
    text-decoration: none;
}

.post-link {
    text-decoration: none;
    color: #364F2D;
}

.post-link:hover,
.page-link {
    color: #4B653E;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.link:hover,
.link:active {
    color: #5E503F;
    text-decoration: underline;
}

.btn-delete {
    color: #fff;
    background: #5E503F;
}

/* --Navbar-- */

.navbar-logo {
    width: 80px; 
    height: auto; /* Maintain aspect ratio */
}

/* --Home-- */

#post-cards {
    background-color: #F5FAF0;
    padding: 15px;
}

/* --Filters-- */

#filters {
    color: #5E503F;
    font-weight: 600;
}

/* --About Page-- */
.about-logo {
    max-width: 90%;
    height: auto;
}

/* -- Profile Page -- */

#update-btn {
    max-width: fit-content;
}

.profile-photo {
    max-width: 90%;
    height: auto; 
}

/* --Post View-- */
.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #7A965C;
    color: white;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 85%;
    height: 100%;
    width: 150%;
    background: #7A965C;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #fff;
}

.dark-bg {
    background-color: #47633F;
}

.main-bg {
    background-color: #F9FAFC;
}

.card {
    border: none;
    background-color: transparent;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 35%;
    left: -2px;
    background-color: #7A965C;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
    background-color: #7A965C;
    padding-left: 5px;
}

.faded {
    color: rgb(172, 175, 175);
}

.approval {
    color: rgb(222, 146, 168);
}

/* ----Footer----- */

.footer {
    text-align: center;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #8AB27B;
}

#footer-details {
    color: #FFFFFF;
  }

  /* -- Media Queries -- */

  /* @media screen and (max-width: 475px) {

  } */


