{% extends "base.html" %}
{% load static %}
{% load countries %}
{% get_countries as countries %}

{% block content %}

<!-- index.html content starts here -->
<div class="row" id="filters">
    <div class="col text-end">
        <!-- User Post Filtering -->
        <form action="{% url 'home' %}" method="get">
            <label for="user">Select User:</label>
            <select name="user" id="user">
                <option value="">All Users</option>
                {% for user in users %}
                <option value="{{ user.id }}">{{ user.username }}</option>
                {% endfor %}
            </select>
            <!-- Add a hidden input field for the country filter -->
            <input type="hidden" name="country" id="country_hidden">
            <button type="submit" class="btn" aria-label="filter button">Filter</button>
        </form>

        <ul>
            {% for post in posts %}
            <li>{{ post.title }} - {{ post.author.username }}</li>
            {% endfor %}
        </ul>
    </div>
    <div class="col text-start">
        <!-- Post Country Filtering -->
        <form action="{% url 'home' %}" method="get">
            <label for="country">Select Country:</label>
            <select name="country" id="country">
                <option value="">All Countries</option>
                {% for country in countries %}
                <option value="{{ country.code }}">{{ country.name }}</option>
                {% endfor %}
            </select>
            <!-- Add a hidden input field for the user filter -->
            <input type="hidden" name="user" id="user_hidden">
            <button type="submit" class="btn" aria-label="filter button">Filter</button>
        </form>

        <ul>
            {% for post in filtered_posts %}
            <li>{{ post.title }} - {{ post.country.name }}</li>
            {% endfor %}
        </ul>
    </div>
</div>


<!-- Blog Entries Column -->
<div class="col-12 mt-3 left">
    <div class="row">
        {% for post in post_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body">
                    <div class="image-container">
                        {% if "placeholder" in post.featured_image.url %}
                        <img class="card-img-top" src="{% static 'images/default.jpg' %}" alt="placeholder image">
                        {% else %}
                        <img class="card-img-top" src=" {{ post.featured_image.url }}" alt="{{ post.title }}">
                        {% endif %}
                        <div class="image-flash">
                            <p class="author">Author: {{ post.author }}</p>
                        </div>
                    </div>
                    <div id="post-cards">
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h2 class="card-title">{{ post.title }}</h2>
                            <p class="card-text">{{ post.excerpt }}</p>
                        </a>

                        <hr />
                        <p class="card-text text-muted h6">{{ post.created_on}}
                        </p>
                    </div>
                </div>
            </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
    </div>
    <div class="row">
        {% endif %}
        {% endfor %}

    </div>
</div>
{% if is_paginated %}
<nav aria-label="Page navigation">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
        <li>
            <a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV</a>
        </li>
        {% endif %}
        {% if page_obj.has_next %}
        <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
        {% endif %}
    </ul>
</nav>
{% endif %}

<script src="{% static 'js/filters.js' %}"></script>

<!-- index.html content ends here -->
{% endblock %}

{% block copyright %}
© 2024 K J Coughlan
{% endblock %}