{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            {% if "placeholder" in about.profile_image.url %}
            <img src="{% static 'images/nobody.jpg' %}" class="about-logo" alt="placeholder image">
            {% else %}
            <img src="{{ about.profile_image.url }}" class="about-logo" alt="Sojourn Scribbles Logo">
            {% endif %}
        </div>

        <div class="col-12 col-md-8">
            <br>  <!-- Line break for responsiveness -->
            <h2>{{ about.title }}</h2>
            {{ about.content | safe }}
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
                        <p class="text-end"><em>Updated on: {{ about.updated_on }}</em></p>
        </div>
    </div>
    <hr>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2>Share Your Thoughts with Sojourn Scribbles!</h2>
            <p>At Sojourn Scribbles, where wanderlust and sisterhood collide, we're all about embracing the magic of
                shared experiences and building a vibrant community of solo travelers. Whether you have feedback on our
                posts, ideas for future content, or simply want to reach out to the Sojourn Scribbles team, we're all
                ears! Fill out the form below to share your thoughts, ask questions, or just say hello. We can't wait to
                hear from you and make Sojourn Scribbles even more amazing together!</p>

            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}